@{
    ViewBag.Title = "Customer Profile";
    bool isLoggedIn = ViewBag.IsLoggedIn ?? false; // Use null-coalescing operator to provide a default value
}

<h3>@ViewBag.Title</h3>

<div class="profile-options">
    @if (isLoggedIn)
    {
        <button onclick="location.href='@Url.Action("PreviousOrders", "Account")'">Previous Orders</button>
        <button onclick="location.href='@Url.Action("EditProfile", "Account")'">Edit Profile</button>
        <button onclick="location.href='@Url.Action("Logout", "Account")'">Logout</button>
    }
    else
    {
        <button onclick="location.href='@Url.Action("Login", "Account")'">Login</button>
        <button onclick="location.href='@Url.Action("Signup", "Account")'">Signup</button>
        <button onclick="location.href='@Url.Action("ForgotPassword", "Account")'">Forgot Password</button>
    }
    }
